.pets {
  height: 40em;
  width: 100%;
  /* background-color: aqua; */
  display: grid;
  padding: 3em;
  box-sizing: border-box;
  gap: 2em;
  grid-template-columns: auto auto auto auto;
}


.individual_pet:hover {
  transform: translate(0px, -5px);
  box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 12px;
}

.individual_pet img {
  height: 80%;
  width: 100%;
}

.individual_pet span {
  display: flex;
  padding-left: 10px;
}

.individual_pet span .pet-id {
  margin: 0;
  margin-left: 40px;
  /* color: aqua; */
}

.individual_pet span h4 {
  margin-top: 0px;
  /* margin-left: 40px; */
}

.individual_pet h5 {
  margin-top: 0px;
  margin-left: 10px;
}

#search_bar{
height: 7em;
width: 100%;
background-color: rgb(205, 207, 207);
position: relative;
display: flex;
align-items: center;
}

#search_bar #search_span{
position: absolute;
right: 1em;
}

#search_span input{
border: none;
font-size: 18px;
padding: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px; 
 }

#search_span input:focus{
outline: none;
}

#search_span select{
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
}


#search_span button{
background-color: rgb(237, 4, 43);
border: none;
/* height: 3em; */
width: 7em;
color: #fff;
padding: 10px;
font-size: 18px;
border-top-right-radius: 10px;
cursor: pointer;
border-bottom-right-radius: 10px;
transition: .3s;
 }

#search_span button:hover{
  background-color: rgb(164, 2, 29);
}

#back_btn{
  cursor: pointer;
  font-size: 22px;
  border: none;
  padding: 5px 30px;
  margin-left: 2em;
  border-radius: 10px;
}

#login_form{
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4em;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
  box-sizing: border-box;
  padding:0em 2em;
  padding-bottom: 2em;
}

#login_form h1{
  text-align: center;
}

#login_form label{
margin-bottom: 10px;
font-size: 19px;
color: grey;
}

#login_form input{
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #444;
}

#login_form input:focus{
outline: none;
}

#login_form h4{
color: black;
font-weight: 400;
}

#login_form h4 span{
  color: rgb(222, 18, 18);
  margin-left: 10px;
  }

#login_form button{
  margin-top: 1em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: rgb(237, 4, 43);
  transition: .3s;
}

#login_form button:hover{
  background-color: rgb(164, 2, 29);
}
.card {
  width: 24em;
  margin-left: 2em;
  height: 36em;
  border-radius: 30px;
  background: whitesmoke;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
       margin-top: 2em;       
 }
 
 
 .container{
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: auto  auto auto;
  gap: 0px;
  justify-content: space-between;
 }