*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Log In */
.logIn{
  height: 90%;
  width: 50%;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.logIn h2{
  text-align: center;
}
.logIn form{
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logIn form input{
  display: block;
  width: 100%;
  height:  2rem;
  outline: none;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0 5px;
}
.logIn form button{
  width: 100%;
  height: 2rem;
  cursor: pointer;
}